<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>WEB322 Assignment2</title>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet"/>
        <link rel="stylesheet" href="style.css" type="text/css" />
    </head>
    <body>
        <header>
            <div id="store_name">
                <h3>
                    Holiday & Home
                </h3>
            </div>

            <div id="search-wrapper">
                <input value="Start your search" />
                <button><i class="material-icons">search</i></button>  
            </div>
            <div id="user-options">
                <div class="login">
                    <i class="material-icons" onclick="openForm()">account_circle</i>
                </div> 
                <div class="form-popup" id="myForm">
                    <form action="/" class="form-container">
                      <h1>Login</h1>
                  
                      <label for="email"><b>Email</b></label>
                      <input type="email" placeholder="Enter Email" name="email" required>
                  
                      <label for="psw"><b>Password</b></label>
                      <input type="password" placeholder="Enter Password" name="psw" required>
                  
                      <button type="submit" class="btn">Login</button>
                      <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
                    </form>
                  </div> 
                <div class="dropdown">
                    <div class="hamburger" onclick="myFunction()">
                       <div class="bar1"></div>
                       <div class="bar2"></div>
                       <div class="bar3"></div>
                     </div>
                     <div id="myDropdown" class="dropdown-content">
                       <a href="signup">Sign Up</a>
                       <a href="/">Home</a>
                       <a href="rooms">Room Listing</a>
                     </div>
                     
                </div>
                
            </div>
            
        </header>
        <main>
            <div class="bookingForm">
                <form action="/action_page.php">
                    <h2> Book unique place to stay and things to do.</h2>
                    
                    <label for="city">WHERE</label>
                    <select
                        id="city"
                        name="city"
                        type="text"
                        tabindex="1"
                        placeholder="Anywhere"
                    >
                    >
                        <option>Toronto</option>
                        <option>Vaughan</option>
                        <option>Brampton</option>
                        <option>Hamilton</option>
                        <option>London</option>
                        <option>Richmond Hill</option>
                        <option>Kitchener</option>
                        <option>Windsor</option>
                        <option>Mississauga</option>
                        <option>Barrie</option>
                        <option>Guelph</option>
                        <option>Oshawa</option>
                        <option>Waterloo</option>
                    </select>
                
                    <label for="checkin">CHECK-IN</label>
                    <input
                    id="checkin-date"
                    name="checkin-date"
                    type="date"
                    tabindex="2"
                    >
                    <label for="checkout">CHECK-OUT</label>
                    <input
                    id="checkout-date"
                    name="checkout-date"
                    type="date"
                    tabindex="3"
                    >
                
                    <label for="guest">GUESTS</label>
                    <select
                        id="guestNum"
                        name="guestNum"
                        type="number"
                        tabindex="4"
                    >
                    >
                        <option>1 guest</option>
                        <option>2 guests</option>
                        <option>3 guests</option>
                        <option>4 guests</option>
                        <option>5 guests</option>
                        <option>6 guests</option>
                        <option>7 guests</option>
                        <option>8 guests</option>
                        <option>9 guests</option>
                        <option>10 guests</option>
                    >
                    <input id="search" type="submit" name="submit" value="SEARCH" tabindex="5">  
                </form>
            </div>
            <section id="home-body">
              <div class="container">
                <img src="./images/vacpic1.png" alt="vacationhome"/>
              </div>
              <div class="row">
                <div class="column"> 
                  <img src="./images/boot_home.jpeg" alt="First" style="width:100%"> 
                  <p><b>Unique Stays</b> <br>Spaces that are more than just a place to sleep.</p> 
                </div>
                <div class="column">
                  <img src="./images/online-tour.jpeg" alt="Second" style="width:100%">
                  <p><b>Online Experience</b> <br> New way to travel from home.</p>
                </div>
                <div class="column">
                  <img src="./images/family-home.jpeg" alt="Third" style="width:100%">
                  <p><b>Entire Homes</b><br>Comfortable private places, with room for friends or family.</p>
                </div>
              </div>
            </section>
            <div id="footer">
                <section id="upper-footer">
                    <div id="email">
                      <a href="mailto:shamimarahman89@gmail.com"><i class="material-icons">email</i> Contact Us</a>
                    </div>
                    <div id="phone">
                      <a href="tel:4164905151"><i class="material-icons">phone</i>Phone</a>
                    </div>
                    <div id="app">
                      <a href="subscribe.html"><i class="material-icons">drafts</i>Subscribe</a>
                    </div>
                  </section>
                <section id="lower-footer">
                    <div id="social-media">
                      <a href="https://twitter.com" target="_blank">
                        <img src="./images/twitter.png" alt="Twitter" width="20" height="20" />
                      </a>
                      <a href="https://facebook.com" target="_blank">
                        <img src="./images/facebook.png" alt="Facebook" width="20" height="20" />
                      </a>
                      <a href="https://instagram.com" target="_blank">
                        <img src="./images/instagram.png" alt="Instagram" width="20" height="20" />
                      </a>
                    </div>
                    <div id="policy">
                      <div>Privacy Policy</div>
                      <div>Terms & Conditions</div>
                      <div>Site Feedback</div>
                    </div>
                    <div id="copy">
                      &copy; Shamima Rahman 2020
                    </div>
                </section>
            </div>
            
        </main>
        <script type="text/javascript" src="index.js"></script>
        
    </body>
</html>